<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Aroma Shop - Home</title>
    <link rel="icon" href="/img/Fevicon.png" type="image/png">
    <link rel="stylesheet" href="/vendors/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/vendors/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="/vendors/themify-icons/themify-icons.css">
    <link rel="stylesheet" href="/vendors/nice-select/nice-select.css">
    <link rel="stylesheet" href="/vendors/owl-carousel/owl.theme.default.min.css">
    <link rel="stylesheet" href="/vendors/owl-carousel/owl.carousel.min.css">

    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/custom.css">
</head>
<body>
<div th:insert="~{fragments/menu :: menu}"></div>
<!--================Checkout Area =================-->
<section class="checkout_area section-margin--small">
    <div class="container">
        <div class="billing_details">
            <div class="row">
                <form th:object="${customerOrderDto}" class="row contact_form" method="post" action="/confirmation">
                    <div class="col-lg-8">
                        <h3>Billing & Shipping Details</h3>
                        <div class="col-md-12 form-group p_star">
                            <input th:field="*{contactPerson}" type="text" class="form-control" id="contactPerson" name="contactPerson" placeholder="Contact Person">
                        </div>
                        <div class="col-md-12 form-group">
                            <input th:field="*{phoneNumber}" type="text" class="form-control" id="phonenumber" name="phonenumber" placeholder="Phone Number">
                        </div>
                        <div class="col-md-12 form-group">
                            <input th:field="*{address}" type="text" class="form-control" id="address" name="address" placeholder="Street, no.">
                        </div>
                        <div class="col-md-6 form-group p_star">
                            <input th:field="*{postcode}" type="text" class="form-control" id="zip" name="zip" placeholder="Postcode/ZIP">
                        </div>
                        <div class="col-md-6 form-group p_star">
                            <input th:field="*{city}" type="text" class="form-control" id="city" name="city" placeholder="City">
                        </div>
                        <div class="col-md-12 form-group p_star">
                            <input th:field="*{county}" type="text" class="form-control" id="county" name="county" placeholder="County">
                        </div>
                        <div class="col-md-12 form-group p_star">
                            <input th:field="*{country}" type="text" class="form-control" id="country" name="country" placeholder="Country">
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="order_box">
                            <h2>Your Order</h2>
                            <ul class="list">
                                <li><a href="#"><h4>Product <span>Total</span></h4></a></li>
                                <li th:each="selectedProductDto:${shoppingcartDto.selectedProductDtos}">
                                    <a href="#">
                                        <span th:text="${selectedProductDto.name}" style="float:left;"></span>
                                        <span th:text="${'x ' + selectedProductDto.quantity}" class="middle"></span>
                                        <span th:text="${'$' + selectedProductDto.priceTimesQuantity}"
                                              class="last"></span>
                                    </a>
                                </li>
                            </ul>
                            <ul class="list list_2">
                                <li><a href="#">Subtotal <span th:text="${'$' + shoppingcartDto.subTotal}"></span></a>
                                </li>
                                <li><a href="#">Shipping <span>Flat rate: <span
                                        th:text="${'$' + shoppingcartDto.shipping}"></span></span></a></li>
                                <li><a href="#">Total <span th:text="${'$' + shoppingcartDto.total}"></span></a></li>
                            </ul>
                            <div class="col-md-6 form-group">
                                <select th:field="*{paymentMethod}" type="text" class="form-control" id="paymentMethod" name="paymentMethod">
                                    <option th:value="PAYMENT_METHOD_CASH" th:text="Cash"></option>
                                    <option th:value="PAYMENT_METHOD_CREDIT_CARD" th:text="CreditCard"></option>
                                    <option th:value="PAYMENT_METHOD_WIRE_TRANSFER" th:text="WireTransfer"></option>
                                </select>
                            </div>
                            <div class="creat_account">
                                <input type="checkbox" id="f-option4" name="selector">
                                <label for="f-option4">I’ve read and accept the </label>
                                <a href="#">terms & conditions*</a>
                            </div>
                            <div class="text-center">
                                <button type="submit" class="button button-paypal" href="#">Launch order</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    </div>
</section>
<!--================End Checkout Area =================-->

<script src="/vendors/jquery/jquery-3.2.1.min.js"></script>
<script src="/vendors/bootstrap/bootstrap.bundle.min.js"></script>
<script src="/vendors/skrollr.min.js"></script>
<script src="/vendors/owl-carousel/owl.carousel.min.js"></script>
<script src="/vendors/nice-select/jquery.nice-select.min.js"></script>
<script src="/vendors/jquery.ajaxchimp.min.js"></script>
<script src="/vendors/mail-script.js"></script>
<script src="/js/main.js"></script>
</body>
</html>