<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Login</title>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Aroma Shop - Home</title>
  <link rel="icon" href="/img/Fevicon.png" type="image/png">
  <link rel="stylesheet" href="/vendors/bootstrap/bootstrap.min.css">
  <link rel="stylesheet" href="/vendors/fontawesome/css/all.min.css">
  <link rel="stylesheet" href="/vendors/themify-icons/themify-icons.css">
  <link rel="stylesheet" href="/vendors/nice-select/nice-select.css">
  <link rel="stylesheet" href="/vendors/owl-carousel/owl.theme.default.min.css">
  <link rel="stylesheet" href="/vendors/owl-carousel/owl.carousel.min.css">

  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/custom.css">
</head>
<body>
<div th:insert="~{fragments/menu :: menu}"></div>
<!--================Order Details Area =================-->
<section class="order_details section-margin--small">
  <div class="container">
    <p class="text-center billing-alert">Thank you. Your order has been received.</p>
    <div th:object="${customerOrderDto}" class="row mb-5">
      <div class="col-md-9 col-xl-6 mb-4 mb-xl-0">
        <div class="confirmation-card">
          <h3 class="billing-title">Order Info</h3>
          <table class="order-rable">
            <tr>
              <td>Order number</td>
              <td th:text="${': ' + customerOrderDto.id}"></td>
            </tr>
            <tr>
              <td>Date</td>
              <td th:text="${': ' + customerOrderDto.orderDetailsDto.localDate}" ></td>
            </tr>
            <tr>
              <td>Total</td>
              <td th:text="${': ' + customerOrderDto.total}"></td>
            </tr>
            <tr>
              <td>Payment method</td>
              <td th:text="${': ' + customerOrderDto.orderDetailsDto.paymentMethod}" ></td>
            </tr>
          </table>
        </div>
      </div>
      <div class="col-md-9 col-xl-6 mb-4 mb-xl-0">
        <div class="confirmation-card">
          <h3 class="billing-title">Shipping Address</h3>
          <table class="order-rable">
            <tr>
              <td>Street</td>
              <td th:text="${': ' + customerOrderDto.orderDetailsDto.street}"></td>
            </tr>
            <tr>
              <td>City</td>
              <td th:text="${': ' + customerOrderDto.orderDetailsDto.city}"></td>
            </tr>
            <tr>
              <td>Country</td>
              <td th:text="${': ' + customerOrderDto.orderDetailsDto.country}"></td>
            </tr>
            <tr>
              <td>Postcode</td>
              <td th:text="${': ' + customerOrderDto.orderDetailsDto.postcode}"></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="order_details_table">
      <h2>Order Details</h2>
      <div class="table-responsive">
        <table class="table">
          <thead>
          <tr>
            <th scope="col">Product</th>
            <th scope="col">Quantity</th>
            <th scope="col">Total</th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="selectedProductDto:${customerOrderDto.selectedProductDtos}" >
            <td>
              <p th:text="${selectedProductDto.name}" ></p>
            </td>
            <td>
              <h5 th:text="${'x' + selectedProductDto.quantity}"></h5>
            </td>
            <td>
              <p th:text="${'$' + selectedProductDto.priceTimesQuantity}"></p>
            </td>
          </tr>
          <tr>
            <td>
              <h4>Subtotal</h4>
            </td>
            <td>
              <h5></h5>
            </td>
            <td>
              <p th:text="${'$' + customerOrderDto.subtotal}"></p>
            </td>
          </tr>
          <tr>
            <td>
              <h4>Shipping</h4>
            </td>
            <td>
              <h5></h5>
            </td>
            <td>
              <p>Flat rate: $50.00</p>
            </td>
          </tr>
          <tr>
            <td>
              <h4>Total</h4>
            </td>
            <td>
              <h5></h5>
            </td>
            <td>
              <h4 th:text="${'$' + customerOrderDto.total}"></h4>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
<!--================End Order Details Area =================-->
<script src="/vendors/jquery/jquery-3.2.1.min.js"></script>
<script src="/vendors/bootstrap/bootstrap.bundle.min.js"></script>
<script src="/vendors/skrollr.min.js"></script>
<script src="/vendors/owl-carousel/owl.carousel.min.js"></script>
<script src="/vendors/nice-select/jquery.nice-select.min.js"></script>
<script src="/vendors/jquery.ajaxchimp.min.js"></script>
<script src="/vendors/mail-script.js"></script>
<script src="/js/main.js"></script>
</body>
</html>